<a href="https://colab.research.google.com/github/tarunsharma1999/SummertrainingML/blob/master/datapreproessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
dataframe=pd.read_csv('http://13.234.66.67/summer19/datasets/info.csv')

print(dataframe)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [30]:
# Eliminating Null Values 
from sklearn.preprocessing import Imputer
imp=Imputer(missing_values='NaN',axis=0,strategy='mean')

x=dataframe.iloc[:,0:].values
print(x)

impute=imp.fit(x[:,1:3])
print(impute)

[['France' 44.0 72000.0 'No']
 ['Spain' 27.0 48000.0 'Yes']
 ['Germany' 30.0 54000.0 'No']
 ['Spain' 38.0 61000.0 'No']
 ['Germany' 40.0 nan 'Yes']
 ['France' 35.0 58000.0 'Yes']
 ['Spain' nan 52000.0 'No']
 ['France' 48.0 79000.0 'Yes']
 ['Germany' 50.0 83000.0 'No']
 ['France' 37.0 67000.0 'Yes']]
Imputer(axis=0, copy=True, missing_values='NaN', strategy='mean', verbose=0)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [0]:
x[:,1:3]=impute.transform(x[:,1:3])

In [32]:
print(x)

[['France' 44.0 72000.0 'No']
 ['Spain' 27.0 48000.0 'Yes']
 ['Germany' 30.0 54000.0 'No']
 ['Spain' 38.0 61000.0 'No']
 ['Germany' 40.0 63777.77777777778 'Yes']
 ['France' 35.0 58000.0 'Yes']
 ['Spain' 38.77777777777778 52000.0 'No']
 ['France' 48.0 79000.0 'Yes']
 ['Germany' 50.0 83000.0 'No']
 ['France' 37.0 67000.0 'Yes']]

In [0]:
#To change string labels for int/float

from sklearn.preprocessing import LabelEncoder

cont=LabelEncoder()

In [33]:
# Changing values of col1 to numeric values

x[:,0]=cont.fit_transform(x[:,0])
print(x)

[[0 44.0 72000.0 'No']
 [2 27.0 48000.0 'Yes']
 [1 30.0 54000.0 'No']
 [2 38.0 61000.0 'No']
 [1 40.0 63777.77777777778 'Yes']
 [0 35.0 58000.0 'Yes']
 [2 38.77777777777778 52000.0 'No']
 [0 48.0 79000.0 'Yes']
 [1 50.0 83000.0 'No']
 [0 37.0 67000.0 'Yes']]

In [0]:
#labelling last column yes,no
p=LabelEncoder()
x[:,3]=p.fit_transform(x[:,3])

In [35]:
x

array([[0, 44.0, 72000.0, 0],
       [2, 27.0, 48000.0, 1],
       [1, 30.0, 54000.0, 0],
       [2, 38.0, 61000.0, 0],
       [1, 40.0, 63777.77777777778, 1],
       [0, 35.0, 58000.0, 1],
       [2, 38.77777777777778, 52000.0, 0],
       [0, 48.0, 79000.0, 1],
       [1, 50.0, 83000.0, 0],
       [0, 37.0, 67000.0, 1]], dtype=object)